


.clear:after 		{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.clean-margin		{ margin: 0px !important; }
.clean-padding		{ padding: 0px !important; }

.half			{ width: 48% !important; }
.fl			{ float: left; }
.fr			{ float: right; }
.fl-space		{ float: left; margin-right: 5px; }
.fr-space		{ float: right; margin-left: 5px; }
.fl-space2		{ float: left; margin-right: 10px; }
.fr-space2		{ float: right; margin-left: 10px; }


/***************************/
/********** LOGIN **********/
/***************************/

.login-box				{ width: 600px; margin: 0px auto; background: url('../images/bck_black_10.png'); margin-top: 100px; padding: 10px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
.login-border			{ border: 1px solid #cccccc; background: url('../images/bck_white_50.png');}
.login-style			{ border: 3px solid #FFFFFF; background: url('../images/login.jpg') center center no-repeat;}
.login-header			{ height: 95px; background: url('../images/login_header.png') center bottom no-repeat; padding: 15px 15px 0px 15px; }
.login-header .logo		{ width: auto; margin: 0px; padding-top: 0px; }
.login-header .logo .title	{ width: 400px; }
.login-header .logo .text	{ width: 400px; color: #333333; }
.login-inside			{ height: 200px; padding-top: 35px; border-bottom: 1px solid #627603; }
.login-inside p			{ text-align: center; padding-bottom: 10px; }
.login-data				{ width: 310px; padding: 40px 0px 35px 0px; background: url('../images/bck_white_50.png'); margin: 0px auto; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; margin-bottom : 20px; }
.login-data label		{ display: block; width: 80px; float: left; line-height: 22px; text-align: right; margin-right: 10px; }
.login-data .row		{ padding-bottom: 10px; }
.login-data .submit		{ margin-left: 90px; }
.login-footer			{ }
.login-footer .remember			{ color: #FFFFFF; line-height: 22px; display: block; float: left; font-weight: bold; }
.login-footer .remember label	{ margin-left: 3px; }
.login-footer a					{ color: #FFFFFF; text-decoration: none; background: url('../images/bck_white_20.png'); font-size: 11px; font-weight: bold; display: block; padding: 0px 15px 0px 15px; line-height: 22px;}
.login-footer a:hover			{ color: #FFFFFF; text-decoration: none; background: url('../images/bck_white_30.png');}

/*********************************/
/********** PAGE LAYOUT **********/
/*********************************/
.main			{ margin-left: 0px; margin-right: 0px;}
.main-wrap		{ width: 100%; float: left; }
.page			{ padding-left: 100px; padding-right: 100px;padding-bottom: 50px; }
.ttx{font-size: 12px;}


/*** main menu ***/

.menu			{ padding-top: 0px; margin-bottom: 30px; }
.menu ul		{ font-size: 14px; font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana; }
.menu li		{ padding-bottom: 8px; font-size: 14px; }
.menu li a		{ display: block; line-height: 16px; padding: 8px 12px 8px 12px; background: url('../images/menu_button.png') top left no-repeat; color: #373838; text-decoration: none; font-weight: bold; }

.waktu			{ padding-top: 200px; margin-bottom: 30px; position:fixed; _position:absolute;}
.waktu ul		{ font-size: 20px; margin-top: 10px;}
.waktu li		{ padding-bottom: 10px; }
.waktu li a		{ display: block; line-height: 16px; padding: 8px 0px 8px 12px; background: url('../images/menu_button.png') top left no-repeat; color: #272f36; text-decoration: none; font-weight: bold; }

 #divwaktu {border: 1px solid #8F3E49; font-size: 25px; color: #FFF; } 

/*** .menu li a:hover	{ padding-left: 18px; padding-right: 6px; } ***/

.menu li.active a	{ background: url('../images/menu_button_active.png') top left no-repeat; color: #333333; }
.menu ul ul		{ font-size: 12px; width: 100%; background: url('../images/bck_white_10.png'); margin-top: 4px; padding: 6px 0px 8px 0px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.menu li li		{ padding: 4px 0px 4px 0px;}
.menu li li a		{ padding: 0px 12px 0px 22px !important; background: url('../images/arrow_sm_grey.gif') 12px 6px no-repeat !important; font-weight: normal; color: #373838!important; font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana; }
.menu li li a:hover	{ color: #FFFFFF!important; padding-left: 18px;}
.menu li li.active a	{ color: #FFFFFF!important; background: url('../images/arrow_sm_white.gif') 12px 6px no-repeat !important; font-weight: bold; }







/*** main page contents ***/


.page p			{ margin: 0px; padding-bottom: 20px; line-height: 16px; }
.page p.description	{ margin: 0px; padding-bottom: 5px; font-size: 11px; line-height: 14px; }

.main-icons		{ margin: 0px; padding: 10px 0px 30px 0px; margin-right: -20px; }
.main-icons ul		{ width: 100%; }
.main-icons li		{ float: left; width: 90px; text-align: center; margin-right: 20px; padding: 10px 0px 10px 0px; }
.main-icons a		{ color: #333333; text-decoration: none; display: block; }
.main-icons a:hover	{ color:#891501; text-decoration: none; }
.main-icons .icon	{ display: block; width: 64px; height: 64px; margin: 0px auto; }
.main-icons .text	{ display: block; padding: 5px 0px 5px 0px; }

.thumb			{ display: block; border: 1px solid #BBBBBB; padding: 3px; background: #FFFFFF; }
a .thumb		{ border: 1px solid #BBBBBB; }
a:hover .thumb		{ border: 1px solid#891501; }
.size48			{ width: 48px; height: 48px; }
.size64			{ width: 64px; height: 64px; }


/*** content boxes ***/

.content-box			{ border: 1px solid #DDDDDD; background: url('../images/bck_black_5.png'); margin-bottom: 30px; position: relative; }
.content-box .box-header	{ background: url('../images/bck_black_10.png'); border: 3px solid #FFFFFF; border-bottom-width: 0px; padding: 9px 9px 9px 20px; }
.content-box .box-body		{ border: 3px solid #FFFFFF; border-top-width: 0px; padding: 20px 20px 10px 20px; }
.box-header h2			{ line-height: 22px; margin-bottom: 0px; padding: 0px; }
.box-header .tabs		{ float: right; }
.box-header .tabs li		{ float: left; margin-left: 2px; font-size: 11px; line-height: 20px; font-weight: bold; }
.box-header .tabs li a		{ background: url('../images/but_off.gif') center left repeat-x; border: 1px solid #FFFFFF; display: block; color: #333333; text-decoration: none; padding: 0px 20px 0px 20px; }
.box-header .tabs li a:hover	{ color:#891501; text-decoration: none; }
.box-header .tabs li.active a	{ color: #FFFFFF; background: url('../images/but_active.gif') center left repeat-x; border: 1px solid #333333; }
.box-header .tabs li a.selected	{ color: #FFFFFF; background: url('../images/but_active.gif') center left repeat-x; border: 1px solid #333333; }

.box-body p			{ margin: 0px; margin: 0px; padding-bottom: 20px; }

.side-bar				{ background: url('../images/bck_white_50_sidebar.png') top right repeat-y; margin-bottom: 10px; }
.sidebar-column				{ width: 170px; float: right; padding: 10px 15px 10px 15px; }
.main-column				{ margin-right: 220px; }
.main-column-wrap			{ width: 100%; }
.sidebar-column .sidemenu		{ width: 100%; }
.sidebar-column ul.list			{ padding-bottom: 15px; line-height: 16px; margin-left: -5px; margin-right: -5px; }
.sidebar-column ul.list li		{ background: url('../images/bck_white_50.png'); border-bottom: 1px solid #DDDDDD; }
.sidebar-column ul.list a		{ color:#891501; text-decoration: none; background: url('../images/arrow_sm_blue.gif') 5px 10px no-repeat; display: block; padding: 5px 5px 5px 15px; }
.sidebar-column ul.list a:hover 	{ color:#891501; text-decoration: none; background: url('../images/arrow_sm_blue.gif') 5px 10px no-repeat #FFFFFF;}
.sidebar-column ul.list li.active	{ background: #FFFFFF; }
.sidebar-column ul.list li.active a	{ color: #333333; text-decoration: none; background: url('../images/arrow_sm_black.gif') 5px 10px no-repeat; font-weight: bold; }
.sidebar-column p			{ padding-bottom: 10px; }

/*** tables ***/

.page table			{ width: 100%; margin: 0px; margin-bottom: 20px; color: #66666A  }
.page tr:hover			{ background: url('../images/bck_white_50.png') top left; }
.page table.mceLayout tr:hover	{ background: none; }
.page th			{ background: url('../images/header.gif') top left repeat-x #FFFFFF; border-bottom: 1px solid #DDDDDD; text-align: left; line-height: 22px; padding: 4px 6px 4px 6px; color: #333333; white-space: nowrap; }
.page th.full			{ width: 100%; }
.page thead td			{ background: url('../images/header.gif') top left repeat-x #FFFFFF; border-bottom: 1px solid #DDDDDD; text-align: left; line-height: 22px; padding: 4px 6px 4px 6px; white-space: nowrap; }
.page td			{ background: url('../images/bck_white_50.png') top left; border-bottom: 1px solid #DDDDDD; line-height: 22px; padding: 4px 6px 4px 6px; }
.page table .icon16		{ margin-top: 3px; margin-bottom: 3px; }
.page td.title			{ background: url('../images/bck_white_75.png') top left; font-weight: bold; white-space: nowrap; }
.page td.center			{ text-align: center; }
.page td.vcenter		{ vertical-align: middle; }
.page td p			{ padding-bottom: 3px; padding-top: 3px; }
.page tbody th			{ background: url('../images/bck_white_75.png') top left; font-weight: bold; white-space: nowrap; color: #666666; }

/*** forms ***/

form				{ width: 100%; }
label				{ line-height: 22px; cursor: pointer; }
label:hover			{ color: #333333; }
input.checkbox			{ display: inline; position: relative; left: 1px; top: 1px;}
input.radio			{ display: inline; position: relative; left: -1px; top: 1px;}
input.text			{ display: inline; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; height: 16px; padding: 2px 4px 2px 4px; }
input.submit			{ display: inline; border-width: 0px; font-size: 11px; font-family: arial; color: #FFFFFF; font-weight: bold; cursor: pointer; background: url('../images/but_active.gif') top left repeat-x ; padding: 3px 10px 3px 10px; }
input.form-file                 { display: inline; height: auto; font-size: 12px !important; }
select				{ display: inline; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; height: 22px; padding: 2px; }
textarea			{ display: inline; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; padding: 4px; }

.form-label			{ display: block; width: 100px; }
.form-field			{ padding-bottom: 5px; }
.required			{ color: #FF0000; font-weight: bold; }

/*** page navigation ***/

.tab-footer		{ width: auto; padding-bottom: 10px; margin-top: -10px; }
.pager			{ font-size: 11px; line-height: 22px; }
.pager a		{ display: block; float: left; }
.pager .nav		{ display: block; float: left; }
.pager .nav a		{ width: 22px; height: 22px; }
.pager .nav a span	{ display: block; font-size: 0%; visibility: hidden; text-indent: -9999px; }
.pager a.first		{ background: url('../images/arrow_leftend_off.png') top left no-repeat; }
.pager a.first:hover	{ background: url('../images/arrow_leftend_ovr.png') top left no-repeat; }
.pager a.previous	{ background: url('../images/arrow_left_off.png') top left no-repeat; }
.pager a.previous:hover	{ background: url('../images/arrow_left_ovr.png') top left no-repeat; }
.pager a.last		{ background: url('../images/arrow_rightend_off.png') top left no-repeat; }
.pager a.last:hover	{ background: url('../images/arrow_rightend_ovr.png') top left no-repeat; }
.pager a.next		{ background: url('../images/arrow_right_off.png') top left no-repeat; }
.pager a.next:hover	{ background: url('../images/arrow_right_ovr.png') top left no-repeat; }
.pager .pages 		{ display: block; float: left; margin: 0px 4px 0px 4px; }
.pager .pages a		{ width: 24px; background: url('../images/bck_black_10.png'); text-align: center; color: #333333; text-decoration: none; }
.pager .pages a:hover	{ background: url('../images/bck_white_50.png'); color:#891501; text-decoration: none; }
.pager .pages a.active	{ background: url('../images/page_active.gif'); color: #FFFFFF; text-decoration: none; font-weight: bold; }


/* Card, Dialog */
    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
    
    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }
    
    .dialog > .content {
      height: 170px;
      font-size: 0.9em;
    }
    
    .dialog > .content > .title {
      font-size: 1.3em;
    }
    
    .dialog > .button {
      width: 90px;
      float: right;
    }
    
    .card.image {
      background: url(http://lorempixel.com/300/240/nature/);
      color: #fff;
    }
    
    /* Misc */
    .center {
      text-align: center;
    }
    
    .label {
      padding: 0 16px;
    }
    
    .label-blue {
      color: #4285f4; 
    }
    
    .label-red {
      color: #d23f31; 
    }




/*** notifications ***/


/*** footer ***/
.footer					{ width: 100%; font-size: 11px; padding: 10px 0px 30px 0px; background: url('../images/line.gif') top left repeat-x; }
.footer .copy a			{ color: #333333; }
.footer .copy a:hover	{ color:#891501; }

/* *********************************************************************
 * DataTables Styles
 * *********************************************************************/
.dataTables_wrapper 						{ }
.dataTables_wrapper table					{ width: 100% !important; margin: 0px 0px 20px 0px; }
.dataTables_wrapper .dataTables_length 				{ float: left; margin: 0px 0px 15px 0px; }
.dataTables_wrapper .dataTables_filter 				{ float: right; margin: 0px 0px 15px 0px; }
.dataTables_wrapper .dataTables_filter input			{ display: inline; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; height: 16px; padding: 2px 4px 2px 4px; }
.datatable 							{ clear: both; }
.datatable thead th 						{ cursor: pointer; }
.dataTables_wrapper .dataTables_paginate 			{ float: right;  font-size: 11px; line-height: 22px; margin-top: -10px; padding-bottom: 10px; }
.dataTables_wrapper .dataTables_paginate span			{ display: block; float: left; }
.dataTables_wrapper .dataTables_paginate .nav a			{ width: 22px; height: 22px; }
.dataTables_wrapper .dataTables_paginate .first			{ background: url('../images/arrow_leftend_off.png') top left no-repeat !important; text-indent: -9999px; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .first:hover		{ background: url('../images/arrow_leftend_ovr.png') top left no-repeat !important; text-indent: -9999px; width: 22px !important;}
.dataTables_wrapper .dataTables_paginate .previous		{ background: url('../images/arrow_left_off.png') top left no-repeat !important; margin: 0px 4px 0px 0px; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .previous:hover	{ background: url('../images/arrow_left_ovr.png') top left no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .last			{ background: url('../images/arrow_rightend_off.png') top left no-repeat !important; text-indent: -9999px; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .last:hover		{ background: url('../images/arrow_rightend_ovr.png') top left no-repeat !important; text-indent: -9999px; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .next			{ background: url('../images/arrow_right_off.png') top left no-repeat !important; margin: 0px 0px 0px 4px; text-indent: -9999px; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .next:hover		{ background: url('../images/arrow_right_ovr.png') top left no-repeat!important ; text-indent: -9999px; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_active	{ cursor: pointer; width: 24px; background: url('../images/bck_black_10.png'); text-align: center; color: #333333; text-decoration: none; width: 22px !important; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover	{ background: url('../images/bck_white_50.png'); color:#891501; text-decoration: none; }
.dataTables_wrapper .dataTables_paginate .paginate_active	{ background: url('../images/page_active.gif'); color: #FFFFFF; text-decoration: none; font-weight: bold; width: 22px !important; }

/* *********************************************************************
 * Modal window
 * *********************************************************************/
.page .modal-window 		{ display: none; }
.modal-window 			{ width: 600px;}
#fancybox-inner			{ width: 100% !important; }
#fancybox-img			{ width: auto !important; }
.modal-head				{ padding-bottom: 10px; }
a.close-modal			{ color: #FFFFFF; text-decoration: none; font-size: 11px; font-weight: bold; display: block; background: #333333; padding: 2px 10px 2px 10px; float: right}
a.close-modal:hover		{ color: #DDDDDD; text-decoration: none; }
.modal-window p			{ padding-bottom: 20px; line-height: 16px; }

/* *********************************************************************
 * WYSIWYG
 * *********************************************************************/

.jwysiwyg 	{ min-height: 200px; }
.tinymce 	{ min-height: 350px; }

.wysiwyg 	{ width: auto !important; margin-bottom: 20px; }
.wysiwyg iframe { width: 100% !important; }
.mceEditor	{ display: block; margin-bottom: 20px; }
.mceContentBody,
table.mceLayout { width: 100% !important; }

/* *********************************************************************
 * Custom forms
 * *********************************************************************/
.form					{ margin: 0px; padding: 0px; }
.form input				{ font-family: 'Arial', sans-serif; font-size: 11px; outline: 0; }
.form-field 				{ }
.form-field .form-label 		{ }
.form-field .form-text 			{ }
.form-field .form-password 		{ }
.form-field .form-textarea 		{ }
.form-field .form-select 		{ }

.form-field .form-checkbox		{ }
.form-field .form-checkbox-item 	{ }
.form-field .form-checkbox-item .title 	{ }

.form-field .form-radio			{ }
.form-field .form-radio-item 		{ }
.form-field .form-radio-item .title 	{ }

/* *********************************************************************
 * Quick edit
 * *********************************************************************/
.edit-field textarea 	{ width: 95% !important; }
.edit-field input 	{ width: auto !important; display: block; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; height: 16px; padding: 2px 4px 2px 4px; }
.long input 		{ width: 95% !important; }

.tombol {
	border:0;
	background:#9eabb8;
	color:#FFF;
-webkit-border-radius:3px;
-moz-border-radius:3px;
	margin:1px 0 10px 2px;
	padding:2px;
	cursor:pointer;
        font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana;
	
	font-size: 13px;
	height: 25px;}
.judul {
	border:0;
	background:#ED5F5F;
	color:#FFF;
-webkit-border-radius:3px;
-moz-border-radius:3px;
	margin:1px 0 10px 2px;
	padding:5.2px;
	font-weight:bold;
	font-size: 13px;
	height: 25px;}

	.judul1 {
	border:0;
	color:#ED5F5F;
-webkit-border-radius:3px;
-moz-border-radius:3px;
	margin:1px 0 10px 2px;

	font-weight:bold;
	font-size: 13px;
	height: 25px;}

	.judul3 {
	border:0;
	color:#FFF;
-webkit-border-radius:3px;
-moz-border-radius:3px;
	margin:1px 0 5px 2px;
	padding:5.2px;
	font-weight:bold;
	font-size: 15px;
	height: 20px;}

.bukalogin{
width:75px;
height:33px;
background:url(../images/kunci.png) no-repeat center;}
a.simplebtn {
	padding:2px 10px 2px 10px;
	border:#511a1f solid 1px;
	color:#fff;
	cursor:pointer;
	background-image:url(../images/btn.gif);
	background-repeat:repeat-x;
	background-color:#521a1f;
	display:inline-block;
	height:16px;
}
a.simplebtn:hover {
	color:#fff;
	background-color:#511a1f;
	background-image:none;
}